extends layout

//- include mixins/_schoolForm
//- include mixins/_formForm
//- include mixins/_teacherForm
include mixins/_teacher
//- include mixins/_studentForm
//- include mixins/_review

block content
  //- pre= h.dump(school)
  .single
    .single__hero
      img.single__image(src=`/uploads/${school.photo || 'school.png'}`)
      h2.title.title--single
        a(href=`/schools/${school.slug}`) #{school.name}

  .single__details.inner
    img.single__map(src=h.staticMap(school.location.coordinates))
    p.single__location= school.location.village

    if school.tags
      ul.tags
        each tag in school.tags
          li.tag
            a.tag__link(href=`/tags/${tag}`)
              span.tag__text #{tag}
            
  if school.teachers
    .teachers
      each t in school.teachers
        .teachers
          +teacher(t)
