extends layout

//- include mixins/_table

block content
  .inner
    h2= title
    .schools__table
      table#pickle.table.table-hover.table-striped.table-bordered
        thead
          tr
            td Name
            td Project
            td Village
            td Teacher Count
            td Student Count
            td RAG
        tbody
          each school in schools
            - const rag = school.rag || []
            - const lastRating = rag[rag.length - 1] ||[]
            tr
              td
                a(href=`/school/${school.slug}`) #{school.name}
              td= school.project
              td= school.location.village
              td= school.teachers.length
              td= school.students.length
              td(class=lastRating.rating)= lastRating.rating
