extends layout

//- include mixins/_table

block content
  .inner
    h2= title
    .schools__table
      table#pickle.table.table-hover.table-striped.table-bordered
        thead
          tr
            td Name
            td Project
            td Village
            td Teacher Count
            td Student Count
            td RAG
        tbody
          each school in schools
            tr
              td
                a(href=`/school/${school.slug}`) #{school.name}
              td= school.project
              td= school.location.village
              td= school.teachers.length
              td= school.students.length
              td
                //- .switch-toggle.switch-3.switch-candy
                .rag__radios
                  input(id="red" name="rag" type="radio" value="red")
                  label(for="red") Red
                  input(id="orange" name="rag" type="radio" value="orange")
                  label(for="orange") Amber
                  input(id="green" name="rag" type="radio" value="green")
                  label(for="green") Green
