mixin input(input)
  .input__header
    .input__date
      h4= input.date
    .input__type
      p= input.inputType
    .input__quantity
      p= input.quantity
    .input__value
      p= input.value
    .input__description
      p= input.description
      //- add teacher, student, etc here
