//- mixin schoolCard({school = {}})
//-   .school
//-     .school__hero
//-       .school__actions
//-         if user && school.author.equals(user._id)
//-           .school__action.school__action--edit
//-             a(href=`/schools/${school._id}/edit`)
//-               != h.icon('pencil')
//-       img(src=`/uploads/${school.photo || 'school.png'}`)
//-       h2.title
//-         a(href=`/school/${school.slug}`) #{school.name}
//-     .school__details
//-       p Village:
      //-  p= school.location.village
//- Add details about number of students and HT here

mixin schoolCard(school = {})
  .school
    .school__hero
      .school__actions
        //- if a user is logged in, show the heart
        //- if user
        //-   .school__action.school__action--heart
        //-     //- good to use form tag in case JS fails
        //-     form.heart(method="POST" action=`/api/v1/schools/${school._id}/heart`)

        //-       - const heartStrings = user.hearts.map(obj => obj.toString())
        //-       - const heartClass = heartStrings.includes(school._id.toString()) ? 'heart__button--hearted' : ''
        //-       //- button instead of input, because we want to put html inside the button, and you can't do that with input
        //-       button.heart__button(type="submit" name="heart" class=heartClass)
        //-         != h.icon('heart')
        //- if user && school.author.equals(user._id)
        .school__action.school__action--edit
          a(href=`/schools/${school._id}/edit`)
            != h.icon('pencil')

        if school.forms.students
          .school__action.school__action--count
            != h.icon('student')
            span= school.forms.students.length
            
      img(src=`/uploads/${school.photo || 'school.png'}`)
      h2.title
        a(href=`/school/${school.slug}`) #{school.name}
    //- .school__details
    //-   p= school.description.split(' ').slice(0, 25).join(' ')
