mixin schoolCard(school = {})
  .school
    .school__hero
      .school__actions
        //- if a user is logged in, show the heart
        //- if user
        //- if user && school.author.equals(user._id)
        .school__action.school__action--edit
          a(href=`/schools/${school._id}/edit`)
            != h.icon('pencil')

        if school.teachers
          .school__action.school__action--teacher
            a(href=`/schools/${school._id}/edit/teachers`)
              != h.icon('teacher')
            span= school.teachers.length

        if school.students
          .school__action.school__action--count
            a(href=`/schools/${school._id}/edit/students`)
              != h.icon('student')
            span= school.students.length
            
      img(src=`/uploads/${school.photo || 'school.png'}`)
      //- .school__action.school__action--red
      //-   form.red(method="POST" action=`/api/v1/schools/${school._id}/rag`)
      //-     button.rag__button(type="submit" name="red" class="ragClass")
      //-       != h.icon('red')
      //- .school__action.school__action--amber
      //-   form.red(method="POST" action=`/api/v1/schools/${school._id}/rag`)
      //-     button.rag__button(type="submit" name="amber" class="ragClass")
      //-       != h.icon('amber')
      //- .school__action.school__action--green
      //-   form.red(method="POST" action=`/api/v1/schools/${school._id}/rag`)
      //-     button.rag__button(type="submit" name="green" class="ragClass")
            != h.icon('green')
      h2.title
        a(href=`/school/${school.slug}`) #{school.name}
    //- .school__details
    //-   p= school.description.split(' ').slice(0, 25).join(' ')
