mixin teacher(teacher)
  .teacher__header
    .teacher__name
      h4= teacher.name
    .teacher__ht
      p Head Teacher: #{teacher.headTeacher}
    .teacher__gender
      p Gender: #{teacher.gender}
    time.teacher__age(datetime=teacher.birthdate)= h.moment(teacher.birthdate).fromNow()
    .teacher__subjects
      p Subjects: #{teacher.subjects}
    .teacher__highestEducation
      p Highest Education: #{teacher.highestEducation}
